* {
    font-family: 'LeagueSpartan', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100vh;
    background: url(../media/texturePaper.png), no-repeat;
    background-size: 1000%;
    background-blend-mode: multiply;
    background-color: #F9F7E8;
}

/* --- */
/* --- */

/* --- REUSABLE CLASSES --- */

/* --- */
/* --- */

.navbar {
    width: 89vw;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 3rem;
    z-index: 50;
}

.container {
    position: relative;
    padding-top: 10vh;
    overflow-x: clip;
    display:flex;
    flex-direction: column;
}

.containerWavy {
    width: 100%;
    background: url(../media/sectionWavyPaper.svg) no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 10;
}

.card {
    position: relative;
    transform: scale(1.3);
    width: 100%;
    background-image: url(../media/card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vh;
    z-index: 10;
}

.cardHeaderPadding {
    padding-top: 3rem;
}

.cardText {
    transform: rotate(2.015deg);
    padding: 7vh 19vw 0 19vw;
}

.containerWavyText {
    padding-top: 7vh;
    color: var(--Gray, #313131);
    text-align: center;
    font-family: 'LeagueSpartan';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 40px */
}

.button {
    position: relative;
    width: 477px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 5px solid #E9E2BD;
    background: #EEA38D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* rectify: margin auto (see homepage 1st button) */
}

.cta {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 16rem;
    flex-shrink: 0;
    background-image: url(../media/cardcta.png);
    background-repeat: no-repeat;
    background-size: 97vw;
    height: 30vh;
    background-position: center;
    justify-content: center;
}

.ctaBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* --- */
/* --- */

/* --- FONTS --- */

/* --- */
/* --- */

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../media/fonts/LeagueSpartan-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Mindset';
    src: url('../media/fonts/mindset-regular-1.ttf')
}

/* Title Fonts */

.titleSubHome {
    color: black;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 201.023%; /* 64.327px */
}

.titlePage {
    color: black;
    text-align: center;
    text-shadow: 0px 1px 8px rgba(35, 35, 35, 0.25);
    font-family: 'Mindset', sans-serif;
    font-size: 96px;
    line-height: 201.023%; /* 96.491px */
}

.titlePage2 {
    color: black;
    text-align: center;
    text-shadow: 0px 1px 8px rgba(35, 35, 35, 0.25);
    font-family: 'Mindset', sans-serif;
    font-size: 110px;
    line-height: 201.023%; /* 96.491px */
    position: relative;
    top: 23rem;
    left: 2rem;
    z-index: 10;
}

.titlePageSubheader {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 40px;
    line-height: 200%; /* 40px */
    padding: 10px;
}

.titlePageSubheader2 {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 200%; /* 40px */
    padding: 0 30px;
}

/* Fonts for reusable elements */

.cardHeader {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 151.023%; /* 36.245px */
    text-align: center;
  }

.header {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.023%; /* 36.245px */
  }

.cardBody {
    color: var(--Gray, #313131);
    font-size: 40px;
    line-height: 200%; /* 40px */
    padding-top: 3rem;
    text-align: left;
  }

.buttonText {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 40px;
    line-height: 151.023%; /* 36.245px */
}

/* Home Fonts */

.homeProceed {
    padding: top 1rem;
    font-size: 32px;
}

.cardColumnTextL {
    color: var(--Gray, #313131);
text-align: right;
font-size: 36px;
line-height: 153.023%; /* 24.484px */
text-align: right;
}

.cardColumnTextR {
    color: var(--Gray, #313131);
text-align: right;
font-size: 36px;
line-height: 153.023%; /* 24.484px */
text-align: left;
}

/* About Fonts */

.aboutBlurbText {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 32px;
    line-height: 200%; /* 32px */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15rem 3rem 0 3rem;
}

.aboutParagraph {
    color: var(--Gray, #313131);
    text-align:left;
    font-size: 32px;
    line-height: 275%; /* 32px */
    padding: 0 3rem 3rem 3rem;
}

.aboutClosingText {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 48px;
    line-height: 200%; /* 48px */
}

/* Catalog Fonts */

.catalogItemHeader {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 151.023%; /* 36.245px */
}

.catalogItemDesc {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 36px;
    line-height: 150%;
}

/* Cart Fonts */

.cartFontTotal {
    color: var(--PinkDark, #824836);
    text-align: center;
    font-size: 96px;
    font-weight: 700;
    line-height: 201.023%; /* 40.205px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartContactHeader {
    color: var(--PinkDark, #824836);
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 201.023%; /* 32.164px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartAfter {
    color: var(--Gray, #313131);
    text-align: center;
    font-size: 28px;
    line-height: 200%;
    padding: 1rem 5rem 5rem 5rem;
}

/* --- */
/* --- */

/* --- PAGE SPECIFIC PROPERTIES --- */

/* --- */
/* --- */

/* About */

.aboutBody {
    display: flex;
    flex-direction: column;
}

.aboutContainer {
    padding-top: 0rem;
    top: 11rem;
}

.aboutContainerWavy {
    height: auto;
}

.aboutContainerText {
    padding-top: 25rem;
}

.aboutButtonCatalog {
    margin:auto; 
    margin: 10% 0;
}

/* Home */

.heroHome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100vw;

    background: url(../media/texturePaper.png), lightgray 50% / cover no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    background-color: #E9D7BD;
}

.heroGeneral {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54.5vh;
    width: 100vw;
    background: url(../media/texturePaper.png), lightgray 50% / cover no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    background-color: #E9D7BD;
}

.heroGeneralCard {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 89vw;
    min-height: 14.76vh;
    height: auto;
    background: #F9F7E8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroImage {
    position: absolute;
    right: 0;
    bottom: 0%;
    width: 80%;
    height: auto;
}

.heroBorder {
    width: 89vw;
    height: 72vh;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 5px solid #F9F7E8;
    border-right: 5px solid #F9F7E8;
    border-left: 5px solid #F9F7E8;
}

.heroBorderPadding {
    padding-top: 4vh;
}

.heroBorderGeneral {
    width: 89vw;
    height: 41vh;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;

    border-top: 5px solid #F9F7E8;
    border-right: 5px solid #F9F7E8;
    border-left: 5px solid #F9F7E8;
}

.heroSvgDown {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContainerWavyTranslate {
    transform: translateY(-614px);
}

.homeWavyBodyTop {
    padding-top: 25.6%;
}

.homeWavyBodyPadding {
    padding: 8rem 8rem 0 8rem;
}

.homeButtonMorePosition {
    margin: auto;
    margin-top: 10%;
}

.homeButtonCatalogPosition {
    transform: rotate(1.872deg) translate(248px, 113px);
}

.homeButtonGalleryPosition {
    transform: rotate(1.872deg);
}

.homeCardPosition {
    transform: translateY(-165px) scale(1.3);
}

.homeBottom {
    display: flex;
    flex-direction: row;
    position:relative;
    right:0;
    margin: auto;
}

.homeBottomImage {
    width: 40vw;
    height: auto;
    margin-left: auto;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-39%);
    z-index: 20;
}

/* Catalog */

.catalogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    gap: 2rem;
    margin: auto;
}

.catalogSectionPadding {
    padding: 15rem 0 5rem 0;
}

/* Cart */

.containerNoOverflow {
    overflow-x: clip;
}

.cartItem {
    /* this is a refactored 'card' class */
    position: relative;
    transform: scale(1.5);
    width: 100%;
    background-image: url(../media/card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vh;
    z-index: 10;
    display:flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
    margin-top: 30rem;
}

.cartTotal {
    padding-top: 15rem;
}

.cartForm {
    padding-top: 5rem;
}

.cartFormInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartInput {
    width: 77%;
    background-color: transparent;
    padding: 20px 20px;
    margin: 1rem;
    border: 1px solid var(--PinkDark, #824836);
    border-radius: 10px;
    height: 2vh;
    font-size: 36px;
}

.cartCenter {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardHeaderPadding {
    padding-top: 4rem;
}


/* gallery */

.galleryBody {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.galleryButton {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* order */

.orderInputSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputTile {
    height: 21vh;
    width: 43vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input[type="radio"] {
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px transparent #9B5C49;
}

input[type="radio"]::after {
    position: absolute;
    /* font-family: ;
    font-weight: ; 
    font-size: ; */
    top: 10px;
    left: 10px;
    background-color: firebrick;
}

input[type="radio"]:checked {
    border-radius: 10px;
    border: 1px solid #9B5C49;
    background: rgba(218, 172, 75, 0.10);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80%;
    width: 100;
    position: absolute;
    bottom: 0;
}

/* label h {

} */

/* order confirmed */

.confirm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url(../media/texturePaper.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #E9D7BD;
}

.confirmContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8rem;
}

.confirmContent > div {
    padding-bottom: 5rem;
}

.confirmContent > a {
    padding-top: 3rem;
}

.confirmContent > a:first-of-type {
    padding-top: 20rem;
}